body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .filter-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
  }
  
  select, button {
    padding: 10px;
    font-size: 16px;
  }
  
  #payNowContainer button {
    padding: 10px 20px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #itineraryContainer {
    margin-top: 20px;
    text-align: left;
  }
  
  ul {
    list-style: none;
    padding: 0;
  }
  
  li {
    background-color: white;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  